* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    background-color: lavender;   
    color: darkblue;
}


/* header section */

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    box-sizing: border-box;
}

#logo, #theme-selector {
    line-height: 65px;
    margin-bottom: 20px;
    /*zoom effect on loading*/
    animation-name: zoom;
    animation-duration: 2s;
}

#theme-selector {
    letter-spacing: 3px;
    float: right;
    margin-right: 30px;
    box-sizing: border-box;
}

#theme-selector button {
    font-size: 120%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: black;
}

/* Zoom Animation*/
@keyframes zoom {
    from {
        transform:scale(.1);
    }
    to {
        transform:scale(1);
    }
}



/*main section*/

#main-outer {
    background:url(/assets/images/light.jpg);
    background-size: cover;
    min-height: 750px;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 50px 10px;
    box-sizing: border-box;
}

#main-outer h2 {
    font-size: 200%;
    margin-bottom: 50px;
    color: blue;
}



/* table */

#main-outer table {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border: 4px solid ;
    border-collapse: separate;
    margin-bottom: 20px;    
    border-radius: 15px;
    empty-cells: show;
    table-layout: fixed;
    margin-left: 10%;
}

#task-number {
    width: 10%;
}

th,td {  
    border-left: 2px solid ;
    border-top: 2px solid ;
    padding:5px;   
}

th {  
    font-size: 175%;
    font-weight: bold;
    border-top: none;  
}

td {
    font-size: 150%;
    word-wrap: break-word;
    color: inherit;
    border-color: inherit;
}

td:first-child, th:first-child {
    border-left: none;
}

td:first-child, th:first-child,td:last-child, th:last-child {
    width: 10%;
}


/* action buttons */

#start  , #mark-done, #add-task {
    color: green;
}

#highlight-task {
    color: rgba(255, 0, 0, .5);
}

#reset-table , #delete {
    color: rgb(185, 46, 46);
}

#start, #add-task, #reset-table, #highlight-task, #mark-done, #delete {
    font-size: 150%;
    border: 3px solid;
    border-radius: 10px;
    padding: 5px;
    font-weight: bolder;
    margin: 25px 0;
}

.edit-button {
    color: inherit;
    background-color: skyblue;
    font-weight: bold;
    border: 2px solid;
    padding: 5%;
    border-radius: 10px;
    min-width:50% ;
}

#start:hover,#add-task:hover, #reset-table:hover, #highlight-task:hover, #mark-done:hover, #delete:hover, #toggle:hover {
    transform: scale(1.1);
}



/* task-action div, task-action popup */

#task-actions {
    display: none;
}

#task-actions button, #task-actions-popup button {
    margin-left: 20px;
}

#submit-task, #submit-new-task, #task-actions-popup {
    position: fixed;
    min-width: 40%;
    min-height: 250px;
    top: 30%;
    left: 30%;
    right: 30%;
    border: 2px solid darkblue;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
    z-index: 10;
    display: none;
    box-sizing: border-box;
    text-align: center;
}

 #task-actions-popup h4 {
    font-size: larger;
    margin-top: 10px;
}

.close {
    color: darkblue;
    font-size: 175%;
    float:right ;
    margin-right: 15px;  
}

#submit-task h3, #submit-new-task h3, #task-actions-popup h3{
    font-size: 200%;
    color: darkblue;
    clear: both;
}


/* overlay div */

#overlay {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0,0.5);
    pointer-events: all;
    z-index: 9;
    display: none;
}



/*first task and new task entry boxes*/

#task-entry-box, #new-task-box {
    width:70%;
    height:100px;
    right: 15%;
    left: 15%;
    margin-top: 10px;
    padding: 10px;
    font-size: 150%;  
    margin-bottom: 10px;
}

#task-entry-box:focus, #new-task-box:focus {
    outline: none;
    border: 2px solid darkblue;
}

#submit-task-button,#submit-new-task-button {
    color: darkblue;
    font-size: 120%;
    font-weight: bolder;
    padding:5px;
    border: 2px solid darkblue;
    border-radius: 15px;
    display: block;
    margin: auto;
}


